body {
    font-family: sans-serif;
  }
  h1{
    text-align: center;
  }

  p {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #56c57b;
    transition: 0.5s;
  }